.head {
  color: chartreuse;
  display: flex;
  justify-content: center;
}

form {
  display: table;
}

section {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
}
.formArea {
  display: table-row;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.5rem;
}

input {
  display: table-cell;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: center;
}

label {
  padding: 0.25rem;
}
