.head {
  color: chartreuse;
  display: flex;
  justify-content: center;
}

form {
  display: table;
}

.formArea {
  display: table-row;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

button {
  padding: 0.5rem;
}
label,
input {
  display: table-cell;
  margin-bottom: 10px;
}
