html {
  font-family: "Press Start 2P", cursive;
  background-color: #242582;
}

.head {
  color: #F64C72;
  display: flex;
  justify-content: start;
}

form {
  display: table;
  font-family: "Press Start 2P", cursive;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
}
.formArea {
  display: table-row;
}

ul {
  color: white;
  list-style: none;
  padding: 5px;
  font-size: large;
}
li {
  padding: 5px;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

.button {
  margin: 37px auto 0;
  color: white;
  background: rgba(15, 255, 63, 0.05);
  border: 3px solid #F64C72;
  border-radius: 20px;
  padding: 15px;
  font-family: "Press Start 2P", cursive;
}

input {
  display: table-cell;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 3px solid #F64C72;
}

.info {
  display: flex;
  justify-content: center;
}

label {
  padding: 0.25rem;
}


.bits input {
  display: none;
}


.bits input + label:before {
  content: "X" ;
  margin-right: 10px;
}

.bits input:checked + label:before {
  content: '$';
}

.howMuch {
  color: #F64C72;
  background-color: #242582;
}









